// Some common elements

.methodology-notes,
.citation-notes
  color: $blue
  background-color: #f5f5f5
  padding: $m
  margin: $m*2 0
  font-size: .85em
  +links_nocolor
  a
    border-bottom: 1px dotted
    +transition(opacity .2s ease)
  a:hover
    opacity: .75
  h5
    margin: 0 0 $m/3
.methodology-notes--view,
.citation-notes--view,
.methodology-notes--location,
.citation-notes--location,
  background-color: transparent !important
  margin: 0 !important
  padding-left: 0
abbr
  text-decoration: none
abbr:hover
  cursor: help
.view-description
  font-size: 1.35em
  padding: $m*2 $m
.view-colophon
  +breakpoint('xs')
    margin-top: $m*4
  color: $blue
.breadcrumb
  a, button
    border: 0
    background: none
    text-decoration: underline
    text-decoration-style: dotted
    text-transform: uppercase
    font-size: .8em
    +transition(opacity .2s ease)
    &:hover
      opacity: .75
.page-explanation
  color: $blue
  max-width: 240px
  line-height: 1.1
  font-size: .9em
  strong
    text-transform: uppercase
    font-size: .8em
    color: $orange
  +breakpoint('sm')
    margin: $m
  +breakpoint('md')
    float: right
    margin-top: -$m
