// Project pages

// Map

#map
  background: white
  position: absolute
  height: $m*15
  left: 0
  width: 100%
  z-index: 0
#map .leaflet-tile
  filter: grayscale(100%)
#map .leaflet-bar
  border: 0
  color: $blue
  +links_nocolor
#map .leaflet-control-attribution
  color: $blue
  +links_nocolor
  font-size: .75em
  opacity: .75
path.leaflet-interactive
  stroke-width: 1
  stroke: red
  stroke-opacity: .4
  fill: red

// Header

.project
  top: $m*16
.project-map + .container-fixed
  position: relative
.project-legend
  padding: $m
  background: white
  color: $blue
  +breakpoint('md')
    max-width: calc(100% - #{$m*2})
    width: 50%
  +links_nocolor
.project-legend__meta:not(:last-child)
  border-bottom: 2px solid $blue
.project-legend__meta-label
  +h(5)
  display: inline-block
  +breakpoint('md')
    width: 33%
.project-legend__name
  margin-top: $m/3
.bar-chart,
.bubble-chart
  +breakpoint('sm')
    display: inline-block
    position: relative
    vertical-align: top
  svg
    display: block
    margin: 0 auto
.project-legend + .project-stats-block
  margin-top: $m

// Charts blocks
.project-stats-block
  +breakpoint('sm')
    padding: $m $m 0
.project-stats-block__legend
  color: $blue
  font-size: .8em
  margin-bottom: $m*1.5
  margin-left: $m
.project-stats-block__legend--budget,
.project-stats-block__legend--budget-averages
  margin-left: $m
  color: $blue
  font-size: .8em
.project-stats-block__legend--budget-averages
  margin-top: $m
  .key
    font-weight: bold
  +breakpoint('sm')
    display: none
.project-stats-block__legend-list
  +breakpoint('sm')
    li
      display: inline
      margin-right: $m/3
.project-stats-block__legend-title
  margin: 0 0 $m/2
.project-stats-block__charts
  +breakpoint('md')
    display: flex
    .bar-chart
      flex-grow: 1
.project-stats-block__name
  margin: 0 0 $m
  text-transform: uppercase
  color: $blue
  border-bottom: 2px solid $blue
.project-stats-block__legend--budget + div
  padding-top: 0
.project-stats-block__legend-list,
.tooltip
  .a, .b, .c, .d, .e
    &:before
      font-size: .8em
      font-family: arial, sans-serif
      content: "⬤"
      margin-right: 2px
      position: relative
      bottom: 3px
  .a:before
    color: #c83741
  .b:before
    color: #eda16a
  .c:before
    color: #6c283d
  .d:before
    color: #72a68e
  .e:before
    color: #777

// Bar charts
.bar-chart__title
  color: $blue
  font-size: .7em
  text-transform: uppercase
  max-width: 90px
  margin: $m/2 auto
  display: block
  font-weight: bold
  &:hover
    cursor: help
.bar-chart svg
  +animation(scaleup_y .5s 1)
  overflow: visible
.bar-chart
  .domain,
  .tick
    stroke: #063461
.stacked-chart
  position: relative
  width: 100%
  svg
    margin: 0 auto
    display: block
.project-stats-block__legend--budget-averages + .project-stats-block__charts
  +breakpoint('sm')
    padding-top: 0
.stacked-chart .chart__title
  color: $blue
  text-transform: uppercase
  font-size: .7em
  font-weight: bold
  position: relative
  left: $m*2
  margin-bottom: $m
  +breakpoint('sm')
    left: 400px
.stacked-chart circle
  opacity: .75
text.category
  max-width: 240px
  color: pink

// Tooltips

.tooltip
  position: absolute
  opacity: 0
  padding: $m/3
  color: $blue
  pointer-events: none
  top: -$m*1.5
  font-family: $font_headers
  font-size: .85em
  +breakpoint('xs')
    display: none
.bar-chart .tooltip
  width: 80%
  left: 10%
  text-align: center
.stacked-chart .tooltip
  right: $m*7
  top: -$m

// Footer

.breadcrumb--footer
  +links_nocolor
  width: 220px
  text-align: center
  margin: $m*2 auto
  border: 2px solid $blue
  color: $blue
  line-height: $m*1.5
  padding: 0 $m
  font-size: .8em
  text-transform: uppercase
  +transition(opacity, .1s ease)
  &:hover
    opacity: .75

// Other

.bar-chart,
.stacked-chart
  +breakpoint('sm')
    rect:hover
      cursor: help
.bubble-chart
  +breakpoint('sm')
    circle:hover
      cursor: help
.tick text
  font-size: .75em
  font-family: monospace
.breadcrumb
  font-size: .8em
  a:before
    font-family: sans-serif
    content: "◀"
    font-size: .95em
    position: relative
    bottom: 2px
    margin-right: 4px
    color: $orange
.mobile-workaround
  +breakpoint('md')
    display: none
.bubble-chart
  display: none
  +breakpoint('md')
    display: inline-block
