// Main view

.view-description,
.view-colophon
  font-size: 1.35em
  padding: $m*2 $m

.view-location
  +breakpoint('md')
    font-size: .8em

.view-location__header
  +clearfix
  text-transform: uppercase
  border-top: 3px solid $blue
  border-bottom: 3px solid $blue
  margin-top: $m/2

.view-location__name
  line-height: $m*2
  +h(6)
  &:hover
    cursor: pointer

[class^='view-location__header-col--']
  +breakpoint('md')
    display: inline-block
    float: left
  line-height: $m
  padding: 0 $m/2
  color: $blue
  +transition(background-color .25s ease)
  svg
    height: .8em
    margin-right: $m/6
    path
      fill: #DC9C38

+breakpoint('md')
  .view-location__header-col--town,
    width: 15%
  .view-location__header-col--program,
  .view-location__header-col--hood
    width: 22.5%
  .view-location__header-col--project
    width: 40%

.view-location__content
  +clearfix
  color: $blue
  +links_nocolor
  margin-bottom: $m

.view-location-item
  display: block
  +clearfix
  position: relative
  +transition(background-color .15s ease)
  border-bottom: 1px solid $blue
  padding: $m
  .view-location-item__col--town,
  .view-location-item__col--program,
  .view-location-item__col--neighborhood
    display: inline
  .view-location-item__col--program,
  .view-location-item__col--neighborhood
    margin-left: $m/2


  +breakpoint('md')
    padding: 0
  i
    display: none
    position: absolute
    right: $m/2
    top: $m/2
    background: $blue
    color: white
    width: $m
    line-height: $m
    text-align: center
    +border-radius(50%)
  &:hover
    background-color: #f5f5f5
    i
      +animation(fadein_toright .25s 1)
      display: inline-block

[class^='view-location-item__col--']
  +breakpoint('md')
    display: inline-block
    float: left
    padding: 0 $m/2
    line-height: $m*2

+breakpoint('md')
  .view-location-item__col--town,
    width: 15%
  .view-location-item__col--program,
  .view-location-item__col--hood
    width: 22.5%
  .view-location-item__col--project
    width: 40%

.view-location-item__col--project
  font-family: $font_headers

.view-filters
  display: flex

.view-filter
  width: 50%
  color: $blue

.view-filter__label
  text-transform: uppercase
  font-weight: bold
  font-size: .85em

.view-filter__select
  +appearance(none)
  border: 0
  background: none
  margin: 0 0 0 $m/2
  font-size: .8em
  z-index: 10

.view-count
  line-height: $m
  padding: 0 $m/2
  color: $blue
.view-count__n
  font-weight: bold
  font-size: .99em
