<section>
    <!-- Map. @see directives -->
    <div class="project-map" w="100%" h="500px"
         lat="{{ location.lat }}" lon="{{ location.lon }}"
         city="{{ location.get('town') }}" code="{{ location.town_code }}">
    </div>
    <div class="container-fixed project">
        <!-- Project legend -->
        <div class="project-legend">
            <nav class="breadcrumb">
                <a href="#">{{ 'Volver al listado general' | t }}</a>
            </nav>
            <h1 class="project-legend__name">
                {{ location.get('project') }}
            </h1>
            <p class="project-legend__meta">
                <label class="project-legend__meta-label">
                    {{ location.indicators.town | t_ind  }}
                </label>
                <span class="project-legend__meta-value">
                    {{ location.get('town') }}
                </span>
            </p>
            <p class="project-legend__meta">
                <label class="project-legend__meta-label">
                    {{ location.indicators.program | t_ind  }}
                </label>
                <span class="project-legend__meta-value">
                    {{ location.categories.program[ location.get('program') ].k }}
                </span>
            </p>
            <p class="project-legend__meta">
                <label class="project-legend__meta-label">
                    {{ location.indicators.hood | t_ind  }}
                </label>
                <span class="project-legend__meta-value">
                    {{ location.categories.hood[ location.get('hood') ].k | t }}
                </span>
            </p>
        </div>
        <div class="page-explanation page-explanation--{{ location.lang }}">
            <strong>{{ 'Nota' | t }}:</strong>
            {{ 'se pueden consultar los valores de las gráficas, así como la definición de las variables, pasando el cursor por encima de los mismas' | t }}.
        </div>
        <!-- Project stats -->
        <div class="project-stats-block">
            <h4 class="project-stats-block__name">{{ 'Área Urbana' | t }}</h4>
            <div class="project-stats-block__legend">
              <ul class="project-stats-block__legend-list">
                <li class="a">
                    {{ location.legend_texts.a }}
                </li>
                <li class="b">
                    {{ location.legend_texts.b }}
                </li>
                <li class="c">
                    {{ location.legend_texts.c }}
                </li>
                <li class="d">
                    {{ location.legend_texts.d }}
                </li>
              </ul>
            </div>
            <div class="project-stats-block__charts">
                <div class="bar-chart" data="location.get('population')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('population') }}" unit="personas"
                     help="{{ location.getNote('population') }}">
                </div>
                <div class="bar-chart" data="location.get('area')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('area') }}" unit="km²"
                     help="{{ location.getNote('area') }}">
                </div>
                <div class="bar-chart" data="location.get('density')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('density') }}" unit="hab./km²"
                     help="{{ location.getNote('density') }}">
                </div>
                <div class="bar-chart" data="location.get('average_height')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('average_height') }}" unit="plantas"
                     help="{{ location.getNote('average_height') }}">
                </div>
                <div class="bar-chart" data="location.get('bad_housing')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('bad_housing') }}" unit="%" max="75"
                     help="{{ location.getNote('bad_housing') }}">
                </div>
                <div class="bar-chart" data="location.get('companies')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('companies') }}" unit="emp./100 hab." max="50"
                     help="{{ location.getNote('companies') }}">
                </div>
            </div>
        </div>
        <div class="project-stats-block">
            <h4 class="project-stats-block__name">
                {{ 'Composición social' | t }}
            </h4>
            <div class="project-stats-block__legend">
              <ul class="project-stats-block__legend-list">
                <li class="a">
                    {{ location.legend_texts.a }}
                </li>
                <li class="b">
                    {{ location.legend_texts.b }}
                </li>
                <li class="c">
                    {{ location.legend_texts.c }}
                </li>
                <li class="d">
                    {{ location.legend_texts.d }}
                </li>
              </ul>
            </div>
            <div class="project-stats-block__charts">
                <div class="bar-chart" data="location.get('youth')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('youth') }}" unit="%" max="50"
                     help="{{ location.getNote('youth') }}">
                </div>
                <div class="bar-chart" data="location.get('aging')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('aging') }}" unit="%" max="50"
                     help="{{ location.getNote('aging') }}">
                </div>
                <div class="bar-chart" data="location.get('foreigners')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('foreigners') }}" unit="%" max="10"
                     help="{{ location.getNote('foreigners') }}">
                </div>
                <div class="bar-chart" data="location.get('unemployment')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('unemployment') }}" max="50" unit="%"
                     help="{{ location.getNote('unemployment') }}">
                </div>
                <div class="bar-chart" data="location.get('illiteracy')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('illiteracy') }}" max="50" unit="%"
                     help="{{ location.getNote('illiteracy') }}">
                </div>
                <div class="bar-chart" data="location.get('non_cualified')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('non_cualified') }}" max="50" unit="%"
                     help="{{ location.getNote('non_cualified') }}">
                </div>
                <div class="bar-chart" data="location.get('economy_level')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('economy_level') }}" max="50" unit="%"
                     help="{{ location.getNote('economy_level') }}">
                </div>
            </div>
        </div>
        <div class="project-stats-block">
            <h4 class="project-stats-block__name">
                {{ 'Estrategia' | t }}
            </h4>
            <div class="project-stats-block__legend--budget">
                <ul class="project-stats-block__legend-list">
                    <li class="a">{{ 'Territorio' | t }}</li>
                    <li class="b">{{ 'Desarrollo económico' | t }}</li>
                    <li class="c">{{ 'Bienestar' | t }}</li>
                    <li class="d">{{ 'Medioambiente' | t }}</li>
                    <li class="e">{{ 'Gestión' | t }}</li>
                </ul>
            </div>
            <div class="project-stats-block__legend--budget-averages">
                <ul class="project-stats-block__legend-list">
                    <li>
                        <span class="key">1</span> {{ location.legend_texts.a }}
                    </li>
                    <li>
                        <span class="key">2</span> {{ location.legend_texts.b }}
                    </li>
                    <li>
                        <span class="key">3</span> {{ location.legend_texts.c }}
                    </li>
                    <li>
                        <span class="key">4</span> {{ location.legend_texts.d }}
                    </li>
                </ul>
            </div>
            <div class="project-stats-block__charts">
                <div class="stacked-chart"
                     data="location.budget" keys="location.budget_keys"
                     height="150" palette="location.palette" unit="%"
                     left="0" right="0" top="20" bottom="20" title="{{ 'Presupuesto desglosado' | t }}">
                </div>
                <div class="bubble-chart" data="location.get('investment')"
                     width="60" height="150" left="0" right="0" top="20" bottom="20"
                     title="{{ location.getLabel('investment') }}" unit="€"
                     help="{{ location.getNote('investment') }}">
                </div>
                <div class="bubble-chart" data="location.get('diversity')"
                     width="60" height="150" left="0" right="0" top="20" bottom="20"
                     title="{{ location.getLabel('diversity') }}" unit=""
                     help="{{ location.getNote('diversity') }}">
                </div>
                <div class="bubble-chart" data="location.get('total_cost')"
                     width="60" height="150" left="0" right="0" top="20" bottom="20"
                     title="{{ location.getLabel('total_cost') }}" unit="M. €"
                     help="{{ location.getNote('total_cost') }}">
                </div>
            </div>
            <div class="project-stats-block__legend mobile-workaround">
              <ul class="project-stats-block__legend-list">
                <li class="a">
                    {{ location.legend_texts.a }}
                </li>
                <li class="b">
                    {{ location.legend_texts.b }}
                </li>
                <li class="c">
                    {{ location.legend_texts.c }}
                </li>
                <li class="d">
                    {{ location.legend_texts.d }}
                </li>
              </ul>
            </div>
            <div class="project-stats-block__charts mobile-workaround">
                <div class="bar-chart" data="location.get('investment')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('investment') }}" unit="€"
                     help="{{ location.getNote('investment') }}">
                </div>
                <div class="bar-chart" data="location.get('diversity')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('diversity') }}" unit=""
                     help="{{ location.getNote('diversity') }}">
                </div>
                <div class="bar-chart" data="location.get('total_cost')"
                     width="100" height="100" left="0" right="0" top="0" bottom="0"
                     title="{{ location.getLabel('total_cost') }}" unit="M. €"
                     help="{{ location.getNote('total_cost') }}">
                </div>
            </div>
        </div>
        <div class="view-colophon">
            <div class="methodology-notes methodology-notes--location">
                <h5>{{ 'Nota metodológica' | t }}:</h5>
                <p><a href="#/metodologia">
                    {{ 'Consultar nota metodológica de la investigación' | t }}
                </a></p>
            </div>
            <div class="citation-notes citation-notes--location">
                <h5>
                    {{ 'Citar de la forma siguiente' | t }}:
                </h5>
                <p>
                    {{ location.getLabel('quote') }}
                </p>
                <p><a href="https://www.upo.es/investiga/urbanimpacts" target="_blank">https://www.upo.es/investiga/urbanimpacts</a></p>
            </div>
            <nav class="breadcrumb--footer">
                <a href="#">{{ 'Volver al listado general' | t }}</a>
            </nav>
        </div>
</section>
