<section class="methodology container-fixed">
    <nav class="breadcrumb">
        <button onclick="history.go(-1)">{{ 'Volver atrás' | t }}</button>
    </nav>
    <h1 class="methodology__title">
        {{ methodology.getLabel('catalogue_title') }}
    </h1>
    <h2 class="methodology__title">
        {{ methodology.getLabel('catalogue_subtitle') }}
    </h2>
    <div class="methodology__content">
        <p>
            {{ methodology.getLabel('catalogue_intro') }}
        </p>
        <ul class="methodology__section">
            <li class="methodology__indicator" ng-repeat="var in methodology.general_variables">
                <h5>
                    {{ methodology.getLabel(var) }}
                </h5>
                <p ng-bind-html="methodology.getNote(var)"></p>
            </li>
        </ul>
        <ul class="methodology__section">
            <h3>
                {{ methodology.getLabel('urban_areas_section_title') }}
            </h3>
            <p class="methodology__section-intro">
                {{ methodology.getLabel('urban_areas_section_title') }}
            </p>
            <li class="methodology__indicator" ng-repeat="var in methodology.urban_variables">
                <h5>
                    {{ methodology.getLabel(var) }}
                </h5>
                <p ng-bind-html="methodology.getNote(var)"></p>
            </li>
        </ul>
        <ul class="methodology__section">
            <h3>
                {{ methodology.getLabel('strategy_section_title') }}
            </h3>
            <p class="methodology__section-intro">
                {{ methodology.getLabel('strategy_section_intro') }}
            </p>
            <li class="methodology__indicator">
                <h5>
                    {{ methodology.indicators.budget.label_en }}
                </h5>
                <p ng-bind-html="methodology.indicators.budget.meth_en"></p>
            </li>
            <li class="methodology__indicator">
                <h5>
                    {{ methodology.getLabel('urban_areas_section_title') }}
                </h5>
                <p>
                    {{ methodology.getLabel('urban_areas_section_intro') }}
                </p>
                <ul>
                    <li class="methodology__indicator" ng-repeat="var in methodology.budget_variables">
                        <h5>{{ methodology.getLabel(var) }}</h5>
                        <p ng-bind-html="methodology.getNote(var)"></p>
                    </li>
                </ul>
            </li>
            <li class="methodology__indicator">
                <h5>{{ methodology.indicators.investment.label_en }}</h5>
                <p ng-bind-html="methodology.indicators.investment.meth_en"></p>
            </li>
            <li class="methodology__indicator">
                <h5>{{ methodology.indicators.diversity.label_en }}</h5>
                <p ng-bind-html="methodology.indicators.diversity.meth_en"></p>
            </li>
        </ul>
    </div>
    <div class="view-colophon">
        <div class="citation-notes">
            <h5>{{ 'Citar de la forma siguiente' | t }}:</h5>
            <p>
                {{ methodology.getLabel('quote') }}
            </p>
            <p>
                <a href="https://www.upo.es/investiga/urbanimpacts" target="_blank">
                    https://www.upo.es/investiga/urbanimpacts
                </a>
            </p>
        </div>
    </div>
</section>
